./LaTeX/.*
LaTeX/images/2000px-NSF.svg.png
LaTeX/images/ISSR_logo.png
LaTeX/images/penn_state_logo_detail.png
LaTeX/images/sodawidespace.jpg
LaTeX/Installing_R_Video.mov
LaTeX/Installing_R_Video.pdf
LaTeX/Installing_R_Video.pptx
Data/.Rhistory
